.btn-round {
  border-radius: 12px !important;
  padding: 10px 20px;
  font-weight: 500;
}

.form-control {
  border-radius: 10px !important;
  font-size: 1rem;
}

.btn-primary {
  background-color: #06668C !important;
  border-color: #06668C !important;
}

.btn-primary:hover {
  background-color: #044f6a !important;
}

.btn-success {
  background-color: #81B29A !important;
  border-color: #81B29A !important;
}

.btn-success:hover {
  background-color: #6ca78b !important;
}
