.btn-round {
  border-radius: 12px !important;
  padding: 10px 20px;
  font-weight: 500;
}

.form-control {
  border-radius: 10px !important;
  font-size: 1rem;
}

.btn-primary {
  background-color: #06668C ;
  border-color: #06668C ;
}

.btn-primary:hover {
  background-color: #044f6a ;
}

.btn-success {
  background-color: #044f6a ;
  border-color: #044f6a ;
}

.btn-success:hover {
  background-color: #427AA1 ;
}

.bi-star-fill{
  color : yellow;
}
.bi-star{
  color : yellow;
}